.main {
	p {
		overflow: hidden;
		white-space: nowrap;
	}
}

.focused {
	p::after {
		content: "|";
		animation: blinking 1.5s step-start infinite;
	}
}

@keyframes blinking {
	from, to {
		color: transparent;
		opacity: 0;
	}
	50% {
		color: initial;
		opacity: .5;
	}
}
