.main {
	width: 98.5%;
	min-height: 0.055rem;

	margin: 0 calc(1.5% / 2);
	margin-top: 0.01rem;
	padding-bottom: 0.01rem;

	background-color: #FFFFFF;
	box-shadow: inset 1px 1px 1px 0 #999999;

	p {
		text-align: center;
		font-size: 0.04rem;

		max-width: 100%;

		&::after {
			content: "|";
			font-size: 0.045rem;
			animation: blinking 1.5s step-start infinite;
		}
	}
}

@keyframes blinking {
	from, to {
		color: transparent;
		opacity: 0;
	}
	50% {
		color: initial;
		opacity: .5;
	}
}
